/************************************
*
*author:Corentin de Massol
*
************************************/
h1{
	font-size: 300%;
}
h2{
	color: blue;
}
h3{
	font-size: 100%;
}
.item {
    width: 300px;  
    height: 300px;
    /*text-align: center;*/
    display: inline-block;
    border: 1px solid gray;
}
#container{
width: 100%;
  max-width: 960px;
  border: 2px solid red;
  margin: 20px auto;
  
}
h1{
  text-align: center;
  text-decoration:underline;
  font-size: 30px;
}

.box {
  display: inline-block;
  padding: 10px 60px;
  
}

.box img {
  padding: 0 2px;
}
@media only screen and (max-width: 950px) {
  #container {
    margin: 10px 20px;
    width:95%;
  } 
  .box {
 
  padding: 10px 20px;
  
}
  
}
@media only screen and (max-width: 850px) {
  #container {
    margin: 10px 90px;
    width:58%;
  } 
  .box {
    padding: 10px 30px;
  }
}
@media only screen and (max-width: 800px) {
  #container {
    margin: 10px 50px;
    width:70%;
  } 
  .box {
    padding: 10px 50px;
  }
}
@media only screen and (max-width: 750px) {
  #container {
    margin: 10px 90px;
    width:75%;
  } 
  .box {
    padding: 10px 50px;
  }
}